#add-items-lbl {
    margin: auto 10px auto 0px;
}

button {
    background-color: greenyellow; 
    margin: auto 0;
    margin-right: 10px; 
}

.mat-header-cell, .mat-cell{
    width: fit-content;
    white-space: nowrap;
    padding-left: 25px;
    padding-right: 25px; 
}

.mat-column-availability, .mat-column-type{
    text-align: center;
}

table {
    border-collapse: separate;
    overflow-x: auto;
}   